{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<img class="gusImage img-responsive center-block" src="{{ url_for('static', filename='gus.jpg') }}">
	</div>
	<div class="row">
		<div class="col-md-6 aboutThisSiteBox">
			<h3>Why does this website exist?</h3>
			My cat has fallen deep into an existential crisis. I am beginning to expect this may have resulted from an instance in which he knocked a glass of water off my desk, and it fell and smashed and I said “Gus, have you thought about the fact that there is no ultimate truth and that all we are perpetually caged by constructed narratives and discourses that exist far beyond our control?”. I now regret this action.
			Now all he seems to do is stand on his hind legs, stare me dead in the eye and with a low rumble repeat what he now sees as his core question; “am I a cat?”.
			<br><br>
			My attempts to reassure him are futile. He is very aware that I am not a neutral actor and keeps trying to make me question the concept of animal ownership. I have become fearful. I assured him that I would create an impartial internet poll that would definitively answer this question. For some reason the little faith he has left is centred around anonymous internet respondents who may be able to put his tiny brain at ease.			
		</div>
		<div class="col-md-6">
			{% block third_panel %}{% endblock %}
		</div>
	</div>
</div>
{% endblock %}