{% extends "index_base.html" %}
{% block third_panel %}
<h3>Voted!</h3>
<canvas id="myChart" width="400" height="400"></canvas>
<script>
	var ctx = document.getElementById("myChart").getContext("2d");
	var data = [
	    {
	        value: {{ num_yes_votes }},
	        color:"#F7464A",
	        highlight: "#FF5A5E",
	        label: "Red"
	    },
	    {
	        value: {{ num_no_votes }},
	        color: "#46BFBD",
	        highlight: "#5AD3D1",
	        label: "Green"
	    }
	];
	var pieChart = new Chart(ctx).Pie(data);
</script>
{% endblock %}